.GE_BG{
  background-image: url('../src/assets/dj-home.jpg');
}
.ContactBg {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('../src/assets/ContactFormImg.png');
  background-size: 100%; /* Ensure the image covers the container */
  background-position: bottom center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  overflow: hidden;
}
.bg {
display: flex;
height: 10px;
background-image: url("./assets/dj-home.jpg");
background-size: cover;
}
.bg1 {
  display: flex;
  height: 100vh;
  background-image: url("./assets/dj-home.jpg");
  background-size: cover;
  }
.img{
  width: 50px;
  height: 50px;
  }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.embedMap iframe{
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.storyTitle{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500px;

}
.storyimg{
  width: 10px;
  height: 200px;
}
.ex{
  color: orange;
  font-size: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
